{# jinja2 template to add an ebgp neighbor to an existing bgp group. Make sure the group already exist, the bgp policies already exist, and the routing options (asn and router-id) already exist #}
protocols
    bgp {
        group underlay-ipfabric {
        neighbor {{ peer_ip }} {
            peer-as {{ peer_asn }};
        }
    }
}

